<!DOCTYPE html>
<html>
<head>
  <title>Hrapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	
	<% if signed_in? %>
		<%= render 'layouts/header' %>
		<%= render 'layouts/top'%>
	<% end %>
	<% flash.each do |key,value| %>
		<div class="alert alert-<%= key%>"><%= value %></div>
	<% end %>
	
	<div class="boundary">	
		<%= yield %>
	</div>



</body>
</html>
